@import 'tailwindcss';
@import 'react-toastify/dist/ReactToastify.css';

:root {
    --toastify-color-success: #3757A1;
    --toastify-color-error: #b91c1c;
    --toastify-color-info: #205e8a;
    --toastify-color-warning: #b45309;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.jsx';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
